# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/key.properties
**/android/app/local.properties
**/android/app/generated_light_theme.xml
**/android/app/generated_dark_theme.xml

# Symbol lookup templates
app.*.symbols

# Archive packaging outputs
*.apk
*.aab
*.app
*.ipa
